<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
        * {
            margin: 0;
            padding: 0;
        }
        html{
            background-color: #333;
        }
    </style>

    <title>Flappy Bird</title>
    <div id="gameDiv"> </div>

    <script src="asset/js/phaser.min.js"></script>
    <script src="asset/js/main.js?{{ rid }}"></script>
    <!--<script src="asset/js/main_easy.js?{{ rid }}"></script>-->
    <!--<script src="asset/js/kidify.js?{{ rid }}"></script>-->
</head>
<body>

</body>
</html>